body{
  background-color: #171717;
}


@tailwind base;
@tailwind components;
@tailwind utilities;


.nav-link {
  position: relative;
  padding-bottom: 8px;
  color: white; 
  
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: transparent; 
  transition: width 0.3s ease, background-color 0.3s ease; 
}

.nav-link:hover::after {
  width: 100%; 
  background-color: red; 
}

.nav-link.active {
  color: white; 
  border-bottom: 2px solid red; 
}

/* Styles for sidebar links */
.sidebar-nav-link {
  position: relative;
  left: 45%;
  padding-bottom: 8px;
  color: #525252; 
}

.sidebar-nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: transparent; 
  transition: width 0.3s ease, background-color 0.3s ease; 
}

.sidebar-nav-link:hover::after {
  width: 100%; 
  background-color: #6B7280; 
}

.sidebar-nav-link.active {
  color: white; 
  border-bottom: none; 
}

/* home */

.animated.scale-in-hor-center {
  animation: scale-in-hor-center 0.5s ease-in-out forwards;
}

@-webkit-keyframes scale-in-hor-center {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes scale-in-hor-center {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
}

.animated.scale-in-hor-right {
  animation: scale-in-hor-right 0.5s ease-in-out forwards;
}

@-webkit-keyframes scale-in-hor-right {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
}

@keyframes scale-in-hor-right {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
}

.animated.scale-in-hor-center:nth-child(even) {
  animation: scale-in-hor-right 0.5s ease-in-out forwards;
}

.animated-title {
  animation: tracking-in-expand 0.5s ease-in-out forwards;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
