


body {
  background-color: rgb(9 9 11);

}


@tailwind base;
@tailwind components;
@tailwind utilities;



.nav-link {
  position: relative;
  padding-bottom: 8px;
  color: white; 
  
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: transparent; 
  transition: width 0.3s ease, background-color 0.3s ease; 
}

.nav-link:hover::after {
  width: 100%; 
  background-color: red; 
}

.nav-link.active {
  color: white; 
  border-bottom: 2px solid red; 
}

/* Styles for sidebar links */
.sidebar-nav-link {
  position: relative;
  left: 45%;
  padding-bottom: 8px;
  color: #6B7280; 
}

.sidebar-nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: transparent; 
  transition: width 0.3s ease, background-color 0.3s ease; 
}

.sidebar-nav-link:hover::after {
  width: 100%; 
  background-color: #6B7280; 
}

.sidebar-nav-link.active {
  color: white; 
  border-bottom: none; 
}

.animated-image {
  animation: scale-up-hor-right 0.5s ease forwards;
}

@keyframes scale-up-hor-right {
  0% {
    transform: scaleX(0.4);
    transform-origin: 100% 100%;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 100% 100%;
  }
}



